.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6vw 0 6vw;
    height: 60px;
    background: rgb(73,89,106);
    background: linear-gradient(90deg, rgba(73,89,106,1) 42%, rgba(35,31,32,1) 100%);
}

.linkIcons {
    display: flex;
    align-items: flex-start;
}

.linkIcons a {
    padding: 10px;
}