.projects {
    background-color: #F1F2F2;
}

.projectTitle {
    display: flex;
    align-items: center;
}

.projectButtons {
    display: flex;
    align-items: center;
}

.projButton {
    margin-left: 10px;
    display: inline-block;
    padding: 5px 25px;
    color: #231F20;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid #00D7D7;
    font-weight: 700;
    transition: border 0.3s, background-color 0.3s;
    cursor: pointer;
}

.projButton:hover {
    color: #231F20;
    border: 2px solid white;
    background-color: white;
}

.GHprojIcon {
    color: white;
    position: relative;
    width: 40px;  /* Match the SVG width */
    height: 40px; /* Match the SVG height */
    display: inline-block;
    margin-left: 10px;
}

.GHprojBorder {
    stroke:#00D7D7;
    fill:#231F20;
    transition: stroke 0.3s;
}

.GHprojIcon:hover .GHprojBorder {
    stroke: white;
}


.projectBullets {
    padding-left: 20px;
}