.projects {
    background-color: #F1F2F2;
}

.projectPicContainer {
    width: 300px;
    position: relative;
  }

  .projectPicContainer:after {
    background: #00D7D7;
    opacity: 0.3;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: ' ';
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .projectPicContainer:hover:after {
    opacity: 0;
  }
  
  .projectPic {
    filter: grayscale(1);
    transition: all 0.4s ease-in-out;
  }

  .projectPicContainer:hover .projectPic {
    filter: grayscale(0);
  }


.projectTitle {
    display: flex;
    align-items: center;
}

.projectButtons {
    display: flex;
    align-items: center;
}

.projButton {
    margin-left: 10px;
    display: inline-block;
    padding: 5px 25px;
    color: #231F20;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid #00D7D7;
    font-weight: 700;
    transition: border 0.3s, background-color 0.3s;
    cursor: pointer;
}

.projButton:hover {
    color: #231F20;
    border: 2px solid white;
    background-color: white;
}

.GHprojIcon {
    color: white;
    position: relative;
    width: 40px;  /* Match the SVG width */
    height: 40px; /* Match the SVG height */
    display: inline-block;
    margin-left: 10px;
}

.GHprojBorder {
    stroke:#00D7D7;
    fill:#231F20;
    transition: stroke 0.3s;
}

.GHprojIcon:hover .GHprojBorder {
    stroke: white;
}


.projectBullets {
    padding-left: 20px;
}





.projectContainer {
    display: flex;
    margin: 50px 0;
}

.projectTitleBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}

.projectTitleBlock h1 {
    margin-left: auto;
    padding-top: 0;
    margin-bottom: 10px;
}

.projectTitleBlockB {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}

.projectTitleBlockB h1 {
    padding-top: 0;
    margin-bottom: 10px;
}

.projectSkillsBlock {
    display: flex;
    justify-content: end;
    margin-left: -50px;
    z-index: 110;
}

.projectSkillsBlock div {
    color: white;
    border: 1px solid #00D7D7;
    background-color: #00D7D7;
    padding: 4px 10px; 
    display: inline-block; 
    margin: 5px; 
    border-radius: 5px; 
    font-size: 0.8em; 
    white-space: nowrap;
    text-align: center;
    width: fit-content;
    flex: 0;
}

.projectSkillsBlockB {
    display: flex;
    justify-content: end;
    margin-right: -50px;
    z-index: 110;
}

.projectSkillsBlockB div {
    color: white;
    border: 1px solid #00D7D7;
    background-color: #00D7D7;
    padding: 4px 10px; 
    display: inline-block; 
    margin: 5px; 
    border-radius: 5px; 
    font-size: 0.8em; 
    white-space: nowrap;
    text-align: center;
    width: fit-content;
    flex: 0;
}

.projectDescriptionBlock {
    background-color: #231F20;
    color: white;
    padding: 20px;
    position: relative;
    z-index: 110;
    margin-left: -50px;
    text-align: end;
}

.projectDescriptionBlock p {
    font-weight: 400;
}

.projectDescriptionBlockB {
    background-color: #231F20;
    color: white;
    padding: 20px;
    position: relative;
    z-index: 110;
    margin-right: -50px;
    text-align: start;
}

.projectDescriptionBlockB p {
    font-weight: 400;
}

.projectPicContainer {
    z-index: 100;
    flex: 3;
    flex-shrink: 0;
}

.projectContentBlock {
    flex: 1;
}

.projectIcon {
    color: white;
    height: 20px;
    margin: 5px;
}

.projectIconBlock {
    height: 28px;
}

@media screen and (max-width: 1175px) {
    .projectSkillsBlock div {
        font-size: 0.7em; 

    }

    .projectDescriptionBlock p {
        font-size: 0.8em; 

    }

    .projectDescriptionBlockB p {
        font-size: 0.8em; 

    }
}

@media screen and (max-width: 1000px) {
    .projectPicContainer {
        display: none;
    }

    .projectContentBlock {
        background-image: url("../assets/projectPics/commonCentsBlue.png");
        background-size: cover;
    }

    .projectDescriptionBlock {
        background-color: transparent;
        color: white;
        padding-top: 0;
        position: relative;
        z-index: 110;
        margin-left: 5vw;
        text-align: end;
    }

    .projectDescriptionBlockB {
        background-color: transparent;
        color: white;
        padding-top: 0;
        position: relative;
        z-index: 110;
        margin-right: 5vw;
        text-align: start;
    }

    .projectTitleBlock h1 {
        color: white;
        padding: 20px 20px 0 0;
        margin-bottom: 0;
    }

    .projectSkillsBlock {
        display: flex;
        justify-content: end;
        padding-right: 20px;
    }
    
    .projectSkillsBlock div {
        background-color: transparent;
        font-size: 0.6em; 
    }
}