.skills {
   background-color: #F1F2F2;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
}

.skillTile {
    display: inline-block;
    padding: 5px 15px;
    margin: 5px;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid #49596A;
}